# 项目背景
这是一个基于 React Native 和 Expo 的移动应用项目。使用 bun 作为运行时和包管理器。

使用 expo-router 作为路由管理器。

使用 zustand 作为状态管理器。

不使用 src 的目录结构，使用标准 expo-router 的目录结构。

# 规则
修改内容时不要破坏原有的逻辑

永远不要私自修改现有的配置项

永远不要瞎编API，所有的代码逻辑，结构，函数都必须是有依据有文档佐证的

要保证修改内容后项目完全可用，不要产生错误的逻辑

如果是修改文件，不要修改作者和日期，仅仅根据功能修正用途

生成组件时，如果有子组件，请放在主组件的下面，保证可读性

生成代码的时候就添加详细的注释，注释尽可能使用换行的形式以保证可读性

判断逻辑不要使用三元表达式，尽可能使用错误条件直接返回这种形式

函数全部使用箭头函数，不要产生function关键字

组件不要添加displayName

在生成逻辑是就考虑到在最安全的情况下，保证代码稳定性的情况下的性能最优化方案

永远不要使用以下的库:
 - @react-native-async-storage

状态管理要使用 zustand

zustand 不要为事件和函数设置持久化
