home=https://npmmirror.com
registry=https://registry.npmmirror.com/
node-mirror:release=https://npmmirror.com/mirrors/node/
node-mirror:rc=https://npmmirror.com/mirrors/node-rc/
node-mirror:nightly=https://npmmirror.com/mirrors/node-nightly/
#如果需要开发RN，记得设置为hoisted模式，否则RN项目不可用。也可设置到项目的.npmrc中。
node-linker=hoisted
